@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional helper if you need it later */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
